<?xml version="1.0" encoding="utf-8"?>
<!--
    Win7 SHA1 Debug Key generation:
    ================================================================================================
    %JAVA_HOME%\bin\keytool -list -v -keystore "%USERPROFILE%\.android\debug.keystore" ^
    -alias androiddebugkey -storepass android -keypass android
    ================================================================================================
    Key values in CheapFuel/gradle/keystore.properties
    ________________________________________________________________________________________________
    DON'T FORGET TO WRITE keystore.properties FILE NAME  in /.gitignore & /src/.gitignore :
    keystore.properties
    ________________________________________________________________________________________________
    INFO: https://medium.com/@cassioso/a-strategy-to-secure-your-api-keys-using-gradle-b9c107272860
    ================================================================================================
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.udacity.friendlychat">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.google.firebase.udacity.FriendlyChat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.google.firebase.udacity.friendlychat.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
